<h1><%= @user.username %>さんのマイページ</h1>

<!-- 勤怠情報入力フォーム -->
<% if current_user == @user %>
  <div class="row">
    <div class="working-time-form">
      <div class="col-md-offset-4">
        <%= form_for([@user, @working_time], :html => {class: "form-inline"}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.date_select 'date', {use_month_numbers: true}, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.collection_select :project_id, @user.projects, :id, :name, {}, {:class => "form-control"} %>
          </div>

          <div class="form-group">
            <%= f.number_field :time, :placeholder => "time", max: 8.0, min: 0, step: 0.1, class: 'form-control'%>
          </div>

          <div class="form-group">
            <%= f.submit "勤怠登録", class: "btn btn-large btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <!-- プロジェクトアサイン表示 -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Project Assain</div>
      <table class="table">
        <thead>
          <tr>
            <th>Project</th><th>Assain Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @user.members.each do |member| %>
            <tr>
              <td><%= member.project.name %></td>
              <td><%= member.assain_rate %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 勤怠情報表示 -->
  <div class="col-md-8">
    <table class="table table table-bordered">
      <tbody>
        <% @working_times_for_paginate.each do |working_time| %> 
          <tr>
            <td><%= working_time.date %></td>
            <td><%= working_time.project.name %></td>
            <td><%= working_time.time %></td>
            <td><%= working_time.approval? ? "済" : "承認待ち" %></td>
            <% if current_user == @user %>
              <td>
                <%= render 'shared/delete_link', path: working_time_path(working_time), title: working_time %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @working_times_for_paginate %>
  </div>
</div>

