<h1><%= @user.username %>さんのマイページ</h1>

<%= form_for([@user, @working_time]) do |f| %>
  <div class="form-inline">
    <div class="col-md-offset-4 col-md-4">
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.date_select 'date', {use_month_numbers: true}, class: 'form-control' %>

      <%= f.collection_select :project_id, Project.all, :id, :name,　class: 'form-control'%>

      <%= f.time_field :time, :placeholder => "time: 0 to 8.0", max: 8.0, min: 0, class: 'form-control'%>

      <%= f.submit "勤怠登録", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>

<div class="col-md-4 col-md-offset-4">
  <ul>
    <% @user.working_times.each do |working_time| %>
      <li>
        <%= working_time.date %>
        <%= working_time.project.name %>
        <%= working_time.time %>
        <%= working_time.approval? ? "承認済み" : "承認待ち" %>
      </li>
    <% end %>
  </ul>
</div>

