<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div style="font-size:large">
        <% if user_signed_in? %> 
          <div class="nav pul-left">
            <strong>Logged in as <%= current_user.email %></strong>
          </div>
          <div class="nav pull-right">
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <% if yield(:show_users_link) == "true" %>
              | <%= link_to "User List", users_path %>
            <% end %>
          </div>
        <% else %>
          <p>Attendance Management App</p>
          <div class="nav pull-right">
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Log in", new_user_session_path %>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</header>
